.product-area{
    display: flex;
    min-height: 450px;
}
.product-area .container{
    width:100%
}
.heading{
    margin-top: 50px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 36px;
    padding: 0 10px;

}
.product-cards{
    justify-content: center;
    margin: 60px 0 50px 0;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding: 0 10px;
    gap:20px
}
.product-area .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-area .container a{
    text-decoration: none;
    border-radius: 8px;
    height: 40px;
    width:130px;
    background-color: transparent;
    color: #000;
    border: 3px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}
.product-area .container a:hover{
    opacity: 1;
}