.herosec{
    min-height: 450px;
    margin-top: 90px;
}
.herosec .container{
    display: flex;
    width:100%;
    background-color: #D9D9D9;
    /* gap:10px; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hero-txt{
    width:45%;
    padding-left: 30px;
    gap:10px;
    display: flex;
    flex-direction: column;
}
.hero-txt .big-txt{
    font-size: 70px;
    line-height: 70px;
}
.hero-txt .small-txt{
    font-size: 32px;
    line-height: 32px;
}
.hero-txt .med-txt{
    font-size: 36px;
    line-height: 36px;
}
.hero-img{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img img{
    width:80%;
    height: 100%;
}
@media screen and (max-width:980px) {
    .herosec .container{
        flex-direction: column-reverse;
        padding: 20px 0;
        gap:10px;
    }
    .hero-img img{
        height:200px;
        width:400px;
    }
    .hero-img{
        height:50%;
        width: 100%;
    }
    .hero-txt{
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:430px) {
    .hero-img img{
        height:150px;
        width:300px;
    }
    .hero-txt{
        text-align: center;
    }
    .hero-img{
        padding: 0 10px;
    }
}